<section class="hero is-fullheight">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">      
      <iframe src="https://giphy.com/embed/w2BKqCMzmNVrq" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>      
      <h2 class="subtitle is-5">
        Sorry! It looks like the page you're looking for doesn't exist.<br>
        Head back to return to the home page.
      </h2>
      <p><a href="/" class="button is-rounded submit-btn">Go back</a></p>
    </div>
  </div>
</section>
