<section class="section">
  <div class="container">
    <h1 class="title">Sign Up</h1>

    <form action="/signup" method="POST">
      <div class="field">
        <label class="label">Full Name</label>
        <div class="control">
          <input class="input" type="text" name="name" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input class="input" type="email" name="email" required>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left">
          <input class="input" type="text" name="username" required>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input class="input" type="string" name="password" required>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="control">
          <input class="button is-link" type="submit" value="Sign up">
        </div>
        <div class="control">
          <button class="button is-text"><a href="/">Cancel</a></button>
        </div>
      </div>  
    </form>
  </div>

</section>