<section class="hero signup is-large">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half login-form">
          <h3 class="title ">Sign up</h3><hr>
          <form action="/signup" method="POST">
            <div class="field">
              <label class="label">Full Name</label>
              <div class="control">
                <input class="input" type="text" name="name" required>
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" type="email" name="email" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            
            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-left">
                <input class="input" type="text" name="username" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input" type="string" name="password" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="button submit-btn has-text-weight-semibold is-fullwidth" type="submit" value="Sign up">
              </div>
            </div>  
          </form>
        </div>>
      </div>
    </div>
  </div>
</section>
