<section class="section page-section">
  <div class="container">
    <h1 class="title">Edit Your Recommendation</h1>

    <form action="/posts/<%= @post.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">

      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select name="category">
              <option value="" id="select-error">Please select one:</option>
              <option value="Attraction">Attractions</option>
              <option value="Bar">Bars</option>
              <option value="Beauty/Spa">Beauty & Spas</option>
              <option value="Cafe/Bakery">Cafes & Bakeries</option>
              <option value="Museum">Museums</option>
              <option value="Nightlife">Nightlife</option>
              <option value="Park/Recreation">Parks & Recreation</option>
              <option value="Restaurant">Restaurants</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label" name>Title</label>
        <div class="control">
          <input class="input" type="text" name="title" value="<%= @post.title %>" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" name="description" required><%= @post.description %></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <input class="input" type="url" name="url" value="<%= @post.url %>" required>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="button is-link" type="submit" value="Update">
        </div>
      </div> 
    </form>
  </div>
</section>