<section class="section page-section">
  <div class="container">
    <h1 class="title">New Recommendation</h1>

    <form action="/posts" method="POST">
      
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select name="category">
              <option value="select" id="select-error">Please select one:</option>
              <option value="Attractions">Attractions</option>
              <option value="Bars">Bars</option>
              <option value="Cafes">Cafes</option>
              <option value="Museums">Museums</option>
              <option value="Nightlife">Nightlife</option>
              <option value="Parks">Parks</option>
              <option value="Restaurants">Restaurants</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" name="title" placeholder="A good title is short, sweet, and straight to the point">
        </div>
      </div>

      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" name="description" placeholder="Let everyone know what's so awesome about it, your favorite part(s), and any pro tips"></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <input class="input" type="url" name="url" placeholder="Add a link to what you're recommending (e.g. a website, Yelp profile, Google maps, etc.)">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input class="button is-link" type="submit" value="Submit">
        </div>
      </div>  
    </form>
  </div>
</section>