<section class="hero is-index is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        TenTen
      </p>
    </div>
  </div>
</section>