<section class="hero is-fullheight index">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        TenTen
      </h1>
      <h2 class="subtitle is-3">
        Subtitle
      </h2>
    </div>
  </div>
</section>