<section class="hero is-large index">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-white">Making plans ain't so bad</h1>
      <h2 class="subtitle is-3 has-text-white">Take the hassle out of deciding where to go by<br>
        getting real recommendations from real people</h2>
      <p><a class="button is-medium cta-btn has-text-weight-medium" href="/signup">Sign up</a></p>
    </div>
  </div>
</section>

<section class="section categories">
  <div class="container has-text-warning has-text-centered">
  <h3 class="title has-text-dark">Whatever you're in the mood for, you'll find something to do...</h3><br><br>
  <div class="columns flex wrap">
    <div class="column"><i class="fas fa-parachute-box fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark">Attractions</p></div>
    <div class="column"><i class="fas fa-beer fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark">Bars</p></div>
    <div class="column"><i class="fas fa-spa fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark">Beauty & Spas</p></div>
    <div class="column"><i class="fas fa-coffee fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark">Cafes & Bakeries</p></div>
    <div class="column"><i class="fas fa-landmark fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark">Museums</p></div>
    <div class="column"><i class="fas fa-glass-martini-alt fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark">Nightlife</p></div>
    <div class="column"><i class="fab fa-pagelines fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark">Parks & Recreation</p></div>
    <div class="column"><i class="fas fa-utensils fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark">Restaurants</p></div>
  </div>
  </div>
</section>

<section class="section no-whitespace index-info-cols">  
  <div class="columns is-marginless">
    <div class="column index-top-img"></div>
    <div class="column">Stumble upon places you never knew existed
    </div>
  </div>

  <div class="columns is-marginless middle">
    <div class="column">You'll always know what to order</div>
    <div class="column index-middle-img"></div>
  </div>

  <div class="columns is-marginless">
    <div class="column index-bottom-img">
    </div>
    <div class="column">Try something new</div>
  </div>  
</section>
  