<section class="hero is-large index">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Making plans just got easier
      </h1>
      <h2 class="subtitle is-3">
        Take the hassle out of deciding where to go by getting<br>
        honest recommendations from real people
      </h2>
    </div>
  </div>
</section>

<section>
  
    <div class="columns">
      <div class="column index-left-img">
      </div>
      <div class="column">
        Right
      </div>
    </div>

    <div class="columns">
      <div class="column">
      </div>
      <div class="column index-right-img">
        
      </div>
    </div>
  
  </section>
  