<section class="hero is-fullheight">
  <div class="container">
    <h1 class="title">TenTen</h1>
    <h2 class="subtitle">We take the hassle out of deciding what to do, where to go, and what to eat.</h2>

    <div class="field is-grouped">
      <p class="control">
        <a href="/login" class="button is-info is-size-6">Log In</a>
      </p>
      <p class="control">
        <a href="/signup" class="button is-size-6">Sign Up</a>
      </p>
    </div>
  </div>
</section>