<section class="hero is-large index">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1-desktop is-size-3-touch has-text-white">Stuck making plans? Lucky you.</h1>
      <h2 class="subtitle is-size-3-desktop is-size-6-touch has-text-white">Take the hassle out of deciding where to go or what to do.<br>
      Browse through only the places that people love & highly recommend.</h2>
      <p><a class="button is-medium cta-btn has-text-weight-medium" href="/signup">Sign up</a></p>
    </div>
  </div>
</section>

<section class="section categories">
  <div class="container has-text-warning has-text-centered">
  <h3 class="title is-size-3-desktop is-size-4-touch has-text-dark">Whatever you're in the mood for, you'll find something to do...</h3><br><br>
  <div class="columns flex wrap">
    <div class="column"><i class="fas fa-parachute-box fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark is-size-6">Attractions</p></div>
    <div class="column"><i class="fas fa-beer fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark is-size-6">Bars</p></div>
    <div class="column"><i class="fas fa-spa fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark is-size-6">Beauty & Spas</p></div>
    <div class="column"><i class="fas fa-coffee fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark is-size-6">Cafes & Bakeries</p></div>
    <div class="column"><i class="fas fa-landmark fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark is-size-6">Museums</p></div>
    <div class="column"><i class="fas fa-glass-martini-alt fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark is-size-6 is-size-6">Nightlife</p></div>
    <div class="column"><i class="fab fa-pagelines fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark is-size-6">Parks & Recreation</p></div>
    <div class="column"><i class="fas fa-utensils fa-3x categories-icon"></i><p class="has-text-weight-medium has-text-dark is-size-6">Restaurants</p></div>
  </div>
  </div>
</section>

<section class="section no-whitespace index-info-cols">  
  <div class="columns is-mobile is-marginless is-vcentered">
    <div class="column index-top-img"></div>
    <div class="column">
      <h3 class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile is-spaced">Discover new places</h3>
      <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus dictum at tempor.</p>
    </div>
  </div>

  <div class="columns is-mobile is-marginless middle is-vcentered">
    <div class="column">
      <h3 class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile is-spaced">Know what to order</h3>
      <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus dictum at tempor.</p>
    </div>
    <div class="column index-middle-img"></div>
  </div>

  <div class="columns is-mobile is-marginless is-vcentered">
    <div class="column index-bottom-img">
    </div>
    <div class="column">
      <h3 class="title is-size-3-desktop is-size-4-tablet is-size-5-mobile is-spaced">Step outside your comfort zone</h3>
      <p class="subtitle is-size-4-desktop is-size-5-tablet is-size-6-mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus dictum at tempor.</p>
    </div>
  </div>  
</section>
  