<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TenTen | What Do You Recommend?</title>
    <%# <link rel="stylesheet" href="/stylesheets/main.css" type="text/css"> %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <style>
      body, html {
        color: #36454f;
      }
      .no-whitespace {
        padding: 0;
        margin: 0;
      }
      a, a:hover {
        color: #ED5752;
      }
      a:hover {
        text-decoration: underline;
      }
      .logo:hover {
        text-decoration: none;
      }
      .error-message {
        background-color: #C0564A;
      }
      .main-footer {
        padding: 4rem 1.5rem;
        background: #3B3857;
      }
      .page-section {
        /* margin: 3rem 0; */
        /* background: rgba(226,223,162,0.5); #E2DFA2; */
        background-color: #fff;
        /* background-image: url("https://www.transparenttextures.com/patterns/light-wool.png"); */
      }

      /* Buttons */
      .cta-btn {
        background: #F2DD66; /*#E1B80D;*/
        color: #363636;
        border: 2px solid #F2DD66;
      }
      .cta-btn:hover {
        background: #fff;
        color: #363636;
        border: 2px solid #F2DD66;
        text-decoration: none;
      }
      .submit-btn {
        background-color: #92AAC7;
        border: 2px solid #92AAC7;
        color: #fff;
      }
      .submit-btn:hover {
        background-color: #fff;
        border: 2px solid #92AAC7;
        color: #363636;
        text-decoration: none;
      }
      .button.is-text {
        text-decoration: none;
      }

      /* INDEX PAGE */
      .hero.index {
        background: linear-gradient(0deg,rgba(0,0,0,0.35),rgba(0,0,0,0.3)), url(https://lh6.googleusercontent.com/8LeP5HcO6i6jThGBQyuyoD5nOiZhPU_1nqusH8wvSHvd-97y0oHESMw8KaI=w2400) center / cover;
      }
      .container.index {
        margin: 20px 0;
      }
      .categories {
        min-height: 100%;
        padding: 8rem 0;
      }
      .categories-icon {
        color: #9A1B27;
      }
      .index-info-cols {
        background:  #EAE2D6;
      }
      .middle {
        background: #FFF;
      }
      .column.index-top-img {
        background: url(https://lh6.googleusercontent.com/Zb0Ti7VQXHO5ajWalHgR_bf4acxRwA0LwqLoXqhEVK2Nr8SwSpo1tA4iUH8=w2400) center / cover;
        min-height: 50vh;
        width: 100%;
      }
      .column.index-middle-img {
        background: url(https://lh5.googleusercontent.com/VNLxmlTGCrVuCdh-Hfr2PWccBORK98ixxvgj5ckQ-60pjMUGRNgBtX-cdMA=w2400) center / cover;
        min-height: 50vh;
        width: 100%;
      }     
      .column.index-bottom-img {
        background: url(https://lh3.googleusercontent.com/E13pUGY0a14IVmAU_vR9aWec_Mc82Pn0JXbVF6V46_MOwVA3NeCOgoKQ4sQ=w2400) center / cover;
        min-height: 50vh;
        width: 100%;
      }    

      /* LOGIN PAGE */
      .hero.login {
        background: url(https://lh5.googleusercontent.com/fz4psbz-UYdvANAqpcK_ZtntdEdcZ6SaLTergOMnu97aq4rDVSv3PMJPepg=w2400) bottom / cover;
        /* linear-gradient(0deg,rgba(0,0,0,0.25),rgba(0,0,0,0.25)),  */
      }
      .login-form {
        background: rgba(255,255,255,0.95);
        padding: 4rem 2.5rem;
        margin: 0 auto;
      }
      .field {
        margin: 1.5rem 0;
      }

      /* SIGN UP PAGE */
      .hero.signup {
        background: url(https://lh4.googleusercontent.com/TN8ty-Hk6X2v-YvkwITK7H6nBvjxm6NlLgXmiSrLin100gE6LR6CaXi3Lm4=w2400) bottom / cover;
      }
      
    </style>

  </head>
  <body>
  <div class="container">
      <nav class="navbar main-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item logo" href="/">
            <img src="https://lh3.googleusercontent.com/TFqKUFjlS5fIxX0UKEYUrBfYiibkW2dvnXhlsuOTpxtnOJsHbbD17rXO0lM=w2400">&nbsp;
            <h1 class="title is-5 has-text-weight-bold">TenTen</h1>
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if logged_in? %>
                  <a class="button is-text has-text-weight-semibold" href="/posts/dashboard">Home</a>
                  <a class="button is-text has-text-weight-semibold" href="/posts/new">Create new post</a>
                  <a class="button is-text has-text-weight-semibold" href="/logout">Log out</a>
                <% else %>
                  <a class="button is-text" href="/login">Log in</a>
                  <a class="button cta-btn has-text-weight-medium" href="/signup">Sign up</a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    
    <%= yield %> 

    <footer class="footer main-footer">
      <div class="content has-text-centered has-text-dark">
        <p class="has-text-weight-semibold">&copy; 2019 TenTen by Hazel Anne Villareal</p>
      </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    
    
    <%# Retrieves selected file name on image upload %>
    <script>
      const fileInput = document.querySelector('#file-js-example input[type=file]');
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          const fileName = document.querySelector('#file-js-example .file-name');
          fileName.textContent = fileInput.files[0].name;
        }
      }
    </script>

  </body>
</html>
