<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TenTen | What Do You Recommend?</title>
    <%# <link rel="stylesheet" href="/stylesheets/main.css" type="text/css"> %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <style>
      body, html {
        /* background-color: rgba(234,226,214,0.2); */
        color: #36454f;
      }
      .no-whitespace {
        padding: 0;
        margin: 0;
      }
      .error-message {
        background-color: rgba(255,56,96,0.7);
      }
      .main-navbar {
        background: none; /*#F8F6F7;*/
      }
      .main-footer {
        padding: 2rem 1.5rem;
        background: #C0564A;
      }
      .page-section {
        margin-bottom: 30rem;
      }
      .cta-button {
        background-color: #F2C057;
        border-color: transparent;
      }
      .logo-title {
        color: #BF5748;
      }
      .tite {
        color: #36454f;
      }
      .submit-btn {
        background-color: #C0564A;
        border-color: transparent;
        color: #171820;
      }
      .button.is-text {
        text-decoration: none;
      }
      .hero.index {
        background: linear-gradient(0deg,rgba(0,0,0,0.35),rgba(0,0,0,0.3)), url(https://lh6.googleusercontent.com/8LeP5HcO6i6jThGBQyuyoD5nOiZhPU_1nqusH8wvSHvd-97y0oHESMw8KaI=w2400) center / cover;
      }
      .container.index {
        margin: 20px 0;
      }
      .categories {
        /* background: #F4F4EF; */
        min-height: 100%;
        padding: 6rem 0;
      }
      .categories-icon {
        color: #C0564A;
      }
      .index-info-cols {
        background: #F4F4EF;
      }
      .middle {
        background: #FFF;
      }
      .column.index-top-img {
        background: url(https://lh6.googleusercontent.com/Zb0Ti7VQXHO5ajWalHgR_bf4acxRwA0LwqLoXqhEVK2Nr8SwSpo1tA4iUH8=w2400) center / cover;
        min-height: 50vh;
        width: 100%;
      }
      .column.index-middle-img {
        background: url(https://lh5.googleusercontent.com/VNLxmlTGCrVuCdh-Hfr2PWccBORK98ixxvgj5ckQ-60pjMUGRNgBtX-cdMA=w2400) center / cover;
        min-height: 50vh;
        width: 100%;
      }     
      .column.index-bottom-img {
        background: url(https://lh3.googleusercontent.com/E13pUGY0a14IVmAU_vR9aWec_Mc82Pn0JXbVF6V46_MOwVA3NeCOgoKQ4sQ=w2400) center / cover;
        min-height: 50vh;
        width: 100%;
      }    
      
    </style>

  </head>
  <body>
  <div class="container">
      <nav class="navbar main-navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="https://lh3.googleusercontent.com/cDbfKVXA0GKDdgGHuWA3p9kWFavW6FdRVMzCzJfMFN7tGqaFps8lULlEQgU=w2400">&nbsp;
            <h1 class="title is-5 logo-title has-text-weight-bold">TenTen</h1>
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if logged_in? %>
                  <a class="button is-text has-text-weight-semibold" href="/posts/dashboard">Home</a>
                  <a class="button is-text has-text-weight-semibold" href="/posts/new">Create New Post</a>
                  <a class="button is-text has-text-weight-semibold" href="/logout">Log Out</a>
                <% else %>
                  <a class="button is-white" href="/login">Log In</a>
                  <a class="button cta-button has-text-weight-medium" href="/signup">Sign Up</a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    
    <%= yield %> 

    <footer class="footer main-footer">
      <div class="content has-text-centered has-text-white">
        <p class="has-text-weight-semibold">&copy; 2019 TenTen by Hazel Anne Villarel</p>
      </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    
    
    <%# Retrieves selected file name on image upload %>
    <script>
      const fileInput = document.querySelector('#file-js-example input[type=file]');
      fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
          const fileName = document.querySelector('#file-js-example .file-name');
          fileName.textContent = fileInput.files[0].name;
        }
      }
    </script>

  </body>
</html>
